generic-message-flow.json
[{"id":"30383481.9d2b0c","type":"tab","label":"WirepasRuuviTag","disabled":false,"info":""},{"id":"64e45243.8a359c","type":"mqtt in","z":"30383481.9d2b0c","name":"LocalMosquitto","topic":"gw-event/received_data/1/sink0/51966/111/#","qos":"0","datatype":"auto","broker":"7f488e90.977d6","x":100,"y":80,"wires":[["9c21cd84.a1628"]]},{"id":"9c21cd84.a1628","type":"decode","z":"30383481.9d2b0c","name":"GenericMessage to JSON","protofile":"3adb72ec.1d033e","protoType":"GenericMessage","x":370,"y":80,"wires":[["f581a355.8d2de"]]},{"id":"e985e936.7f4e08","type":"switch","z":"30383481.9d2b0c","name":"Temperature (112)","property":"payload.wirepas.packetReceivedEvent.destinationEndpoint","propertyType":"msg","rules":[{"t":"eq","v":"112","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":180,"wires":[["d486fcda.f98f1"]]},{"id":"a5f2b746.286118","type":"switch","z":"30383481.9d2b0c","name":"Humidity (114)","property":"payload.wirepas.packetReceivedEvent.destinationEndpoint","propertyType":"msg","rules":[{"t":"eq","v":"114","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":260,"wires":[["bd0a8299.03d75"]]},{"id":"2d47f6c3.33d54a","type":"switch","z":"30383481.9d2b0c","name":"Atmospheric Pressure (116)","property":"payload.wirepas.packetReceivedEvent.destinationEndpoint","propertyType":"msg","rules":[{"t":"eq","v":"116","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":340,"wires":[["4eb2991.b7d1568"]]},{"id":"667469de.1c63a8","type":"switch","z":"30383481.9d2b0c","name":"Shock detection extended (127)","property":"payload.wirepas.packetReceivedEvent.destinationEndpoint","propertyType":"msg","rules":[{"t":"eq","v":"127","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":420,"wires":[["3934b2e4.d4dc3e"]]},{"id":"3934b2e4.d4dc3e","type":"binary","z":"30383481.9d2b0c","name":"Extract shock detection data","property":"payload.wirepas.packetReceivedEvent.payload","pattern":"l8 => shockState, l16 => moveDuration, l8 => moveCount, -l8 => x, -l8 => y, -l8 => z","x":720,"y":420,"wires":[["ee7690e7.e445"]]},{"id":"f581a355.8d2de","type":"base64","z":"30383481.9d2b0c","name":"","action":"","property":"payload.wirepas.packetReceivedEvent.payload","x":120,"y":180,"wires":[["e985e936.7f4e08","a5f2b746.286118","2d47f6c3.33d54a","667469de.1c63a8"]]},{"id":"4eb2991.b7d1568","type":"binary","z":"30383481.9d2b0c","name":"Extract atmospheric presssure data","property":"payload.wirepas.packetReceivedEvent.payload","pattern":"l32 => pressure","x":740,"y":340,"wires":[["f52b17f2.e21ee8"]]},{"id":"bd0a8299.03d75","type":"binary","z":"30383481.9d2b0c","name":"Extract humidity data","property":"payload.wirepas.packetReceivedEvent.payload","pattern":"l16 => humidity","x":700,"y":260,"wires":[["68b4942c.9d6dbc"]]},{"id":"d486fcda.f98f1","type":"binary","z":"30383481.9d2b0c","name":"Extract temperature data","property":"payload.wirepas.packetReceivedEvent.payload","pattern":"-l16 => temperature","x":710,"y":180,"wires":[["d17766ca.014398"]]},{"id":"d17766ca.014398","type":"change","z":"30383481.9d2b0c","name":"Prepare data object","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\t    \"temperature\": payload.wirepas.packetReceivedEvent.payload / 100\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":180,"wires":[["57134600.b9c638"]]},{"id":"68b4942c.9d6dbc","type":"change","z":"30383481.9d2b0c","name":"Prepare data object","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\t    \"humidity\": payload.wirepas.packetReceivedEvent.payload / 100\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":260,"wires":[["57134600.b9c638"]]},{"id":"f52b17f2.e21ee8","type":"change","z":"30383481.9d2b0c","name":"Prepare data object","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\t    \"pressure\": payload.wirepas.packetReceivedEvent.payload / 100\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":340,"wires":[["57134600.b9c638"]]},{"id":"ee7690e7.e445","type":"change","z":"30383481.9d2b0c","name":"Prepare data object","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\t    \"shockState\": payload.wirepas.packetReceivedEvent.payload.shockState,\t    \"moveDuration\": payload.wirepas.packetReceivedEvent.payload.moveDuration,\t    \"moveCount\": payload.wirepas.packetReceivedEvent.payload.moveCount,\t    \"accelerationState\": {\t        \"x\": payload.wirepas.packetReceivedEvent.payload.x,\t        \"y\": payload.wirepas.packetReceivedEvent.payload.y,\t        \"z\": payload.wirepas.packetReceivedEvent.payload.z\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":420,"wires":[["57134600.b9c638"]]},{"id":"57134600.b9c638","type":"debug","z":"30383481.9d2b0c","name":"Debug data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"7f488e90.977d6","type":"mqtt-broker","z":"","name":"WM MQTT API","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3adb72ec.1d033e","type":"protobuf-file","z":"","protopath":"/home/pi/wirepas/backend-apis/gateway_to_backend/protocol_buffers_files/generic_message.proto","watchFile":false}]